/* .nunito-<uniquifier> {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  
.source-sans-3-<uniquifier> {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

:root {
  --primary-color: #232946;
  --white-color: #f7f7f7;
  --text-white: #ffffff;
  --text-light-purple: #b8c1ec;
  --btn-primary-color: #eebbc3;
  --tag-color: #e3e3e3;

  /* font-weight */
  --weight-thin: 100;
  --weight-extra-light: 200;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;
  --weight-extra-bold: 800;
  --weight-black: 900;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
/* Reusable classee */

/* container classes  */

.container-x {
  max-width: 1120px;
  margin: 0 auto;
}

/* container classes end */

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.source-sans {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* text resuable classes */
.nav-text {
  font-size: 1.25rem;
  font-weight: var(--weight-regular);
}

.h1 {
  font-size: 4rem;
  font-weight: var(--weight-bold);
}
.h2 {
  font-size: 3rem;
  font-weight: var(--weight-bold);
}

.h3 {
  font-size: 2.25rem;
  font-weight: var(--weight-bold);
}
.p-alt {
  font-size: 2.25rem;
  line-height: 64px;
  font-weight: var(--weight-regular);
}

.paragraph {
  font-size: 1.25rem;
  font-weight: var(--weight-regular);
  line-height: 32px;
}
.tag-text {
  font-size: 1rem;
  font-weight: var(--weight-extra-bold);
}
.footer-link {
  font-size: 1.5rem;
  font-weight: var(--weight-extra-bold);
}

/* btn classes */
.btn {
  background-color: var(--btn-primary-color);
  border-radius: 16px;
  padding: 8px 16px;
}
/* Reusable class stop here */

body {
  background-color: var(--primary-color);
  border: 3px red solid;
}
/* navigation bar start here */

.nav-bar {
  margin: 0 auto;
  margin-top: 24px;
  padding: 8px;
  max-width: 509px;
  border-radius: 67px;
  background-color: var(--white-color);
}

.nav-bar .nav-list {
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
}

.nav-list-2 {
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
}
.nav-bar a {
  display: inline-block;
  padding: 16px 24px;
  border-radius: 200px;
  transition: 0.3s ease-in-out;
}

.active {
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: 0.3s ease;
}

.nav-bar a:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.nav-bar ul a:hover .active {
  background-color: red;
  color: var(--white-color);
}

/* hero section start here */

.hero {
  display: flex;
  justify-content: space-between;
  padding-top: 88px;
  padding-bottom: 104px;
}

.hero h1 {
  color: var(--text-white);
}
.hero span {
  font-weight: var(--weight-light);
}

.hero p {
  max-width: 548px;
  font-size: 2.25rem;
  line-height: 64px;
  font-weight: var(--weight-regular);
  color: var(--text-light-purple);
}

.hero p strong {
  font-weight: var(--weight-bold);
}

/* about me section start here  */

.about-container {
  display: flex;
  justify-content: space-between;
}

.about-text {
  max-width: 739px;
  padding: 32px;
  border-radius: 16px;
  color: var(--primary-color);
  background-color: var(--text-white);
}

.about-text h2 {
  margin-bottom: 24px;
}

.about-text p:nth-of-type(2) {
  margin-top: 16px;
  margin-bottom: 40px;
}

.about-text a {
  padding-right: 32px;
}

.about-text a::after {
  content: "";
  position: absolute;
  margin-left: 10px;
  margin-top: 3.8px;
  border-left: 6px solid var(--primary-color);
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; /* Arrow color */
}

.about-image {
  max-width: 357px;
  border-radius: 16px;
  margin-left: 16px;
}

.about-image img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* about me section end here  */

/* portfolio website start here */
.portfolio {
  padding-top: 40px;
  padding-bottom: 24px;
  color: var(--text-white);
}
.portfolio-container-1 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
}
.portfolio-container-2 {
  margin-top: 24px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
}

/* Default styles for portfolio items */


.portfolio h2 {
  margin-bottom: 20px;
}
.portfolio-item-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 632px;
  padding: 32px;
  border-radius: 16px;
  background-color: var(--white-color);
}

.portfolio-item-1 .portfolio-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-color);
}

.arrow-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--btn-primary-color);
  transition: 0.3s ease-in-out;
}
.arrow-icon svg {
  width: 100%;
  height: 100%;
}

.arrow-icon:hover {
  background-color: var(--primary-color);
  color: var(--text-white);
}

.portfolio-image {
  max-width: 100%;
  border-radius: 16px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.portfolio-image img {
  width: 100%;
}

.portfolio-tag {
  display: flex;
}

.tag {
  padding: 8px 16px;
  margin-right: 16px;
  border-radius: 16px;
  background-color: var(--tag-color);
  color: var(--primary-color);
}
/* first card end here */
/* second card start here */
.portfolio-item-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 464px;
  padding: 32px;
  border-radius: 16px;
  background-color: var(--white-color);
}

.portfolio-item-2 .portfolio-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-color);
}
.portfolio-image-2 img {
  width: 32px;
  margin-bottom: 14px;
}
.portfolio-image-2 {
  margin-top: 24px;
  margin-bottom: 16px;
  color: var(--primary-color);
}

/* Default styles for portfolio items */
.portfolio-item-1,
.portfolio-item-2 {
  padding: 32px; /* Default padding */
}
/* portfolio website end here */

/* footer section start here  */
.connect-section {
  padding-inline: 32px;
  background-color: var(--white-color);
}

.connect-container {
  padding-top: 88px;
  padding-bottom: 104px;
  display: flex;
  color: var(--primary-color);
  justify-content: space-between;
}

.connect-section p {
  max-width: 548px;
}

.social-media-grid {
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
}

.social-media-grid li a {
  border-radius: 16px;
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--text-light-purple);
  color: var(--primary-color);
}

.social-media-grid li a:hover {
  background-color: var(--tag-color);
}

@media (max-width: 1150px) {
  .container-x {
    max-width: 1020px;
    border: 3px red solid;
  }

  /* about me section start here  */

  .about-text {
    max-width: 640px;
  }
  /* about me section end here  */


}




@media (max-width: 1080px) {
  .container-x {
    max-width: 100%;
    padding-inline: 14px;
    /* border: 3px red solid; */
  }

  /* reusable classes */

  .h1 {
    font-size: 2.8rem;
  }

  /* hero section */

  .hero p {
    max-width: 480px;
    font-size: 1.25rem;
  }

  /* about me section start here */

  .about-text {
    max-width: 580px;
    padding-inline: 14px;
  }

  .portfolio-item-1,
  .portfolio-item-2 {
    padding: 18px; /* Reduced padding for smaller screens */
  }

}

/* media query for small laptop size  */

@media (max-width: 900px) {
  .container-x {
    max-width: 720px;
    border: 3px red solid;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero h1 {
    font-size: 2.5rem;
  }
  .hero p {
    font-size: 1.25rem;
    line-height: 32px;
  }
  .about-container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .about-text {
    max-width: 100%;
  }
}
