/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.epilogue-<uniquifier> {
  font-family: "Epilogue", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root {
  --primary-color: red;

}

body {
  background-color: var(--primary-color);
}